.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  height: 100px;
}

body {
  background-image: url("../src/utils/PNG-cards-1.3/blackjackBackground.jpg");
  background-Size: cover;
  background-repeat: no-repeat;
  background-color: #205337;
}

html, body {
  height: 100%;
  width: 100%;
}

.chat {
  bottom: 0;
  position: absolute;
}

.player {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 5%;
}

.dealer {
  position: absolute;
  width: 100%;
  margin-left: 5%;
}

.chatBox {
  height: 25vh;
  border: 1px solid white;
  overflow-y: scroll;
  width: 30vw;
  background-color: #205337;
}

.posts {
  line-break: auto;
  display: flex;
}

.messageButtons {
  float: left;
}

.time {
  margin: auto;
}

.message {
margin: auto;
width: 25%;
}

.chatHeader {
  border: 1px solid white;
  width: 30vw;
  margin: 0;
}

h3 {
  text-align: center;
  width: 95%;
}